header {
  font-size: 1.4rem;

  nav {
    background-color: var(--color-grey-light);
    height: 5rem;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      gap: 1rem;

      list-style: none;
      margin: 0;
      padding: 0;

      &>li {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
      }

      li:last-of-type {
        margin-left: auto;
      }

      li>a {
        color: var(--color-grey-dark);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        display: inline-block;
        transition: color 0.2s, text-decoration 0.2s;
      }

      li>a:hover {
        text-decoration: underline;
      }
    }
  }
}
